<html>
	<head>
        <title>ERROR DE SERVIDOR</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <style>
            input{
                margin-top:5px;
                margin-bottom:5px;
            }
            .right{
                float:right;
            }
        </style>
         <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
         <style type="text/css">
			@media screen and (max-device-width : 480px) {
					#sidebar{ 	display:none;	}	#menu{   text-align:center;	  }
			}
		</style>
    </head>
    <body>
		<div class="container"> 
        <blockquote>
  <p></p><h3>EXISTIO UNA FALLA EN EL SERVIDOR POR FAVOR SIGA EL ENLACE PARA CONTINUAR</h3><p></p>
				<p></p>
        <div class="row"><a href="index.php?ac=mesas&amp;d=index">CONTINUAR MI CARGA POR FAVOR</a></div>
      <footer class="col-lg-12">
	<hr>
   desarrollos para eleciones - leandro morala -  - Copyright © <!--?php echo  date("Y"); ?-->
</footer>
</body>
</html>
